@import "font";
@import "break";

* {
    font-size: 62.5%;

    margin: 0;
    padding: 0;

    line-height: 2em;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}


body {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.desktop {
    @media only screen and (max-width: $mobile) {
        display: none;
    }
}

.mobile {
    @media only screen and (min-width: $mobile) {
        display: none;
    }
}