@import "../../../styles/break.scss";

.weather-widget {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    border-radius: 2rem;

    background: linear-gradient(to bottom, #2d91c2 0%, #1e528e 100%);
    box-shadow: 2px 2px 8px -3px black;
    color: white;

    a {
        width: 100%;
        text-decoration: none;
        color: white;
    }

    .weather-overall {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        gap: 3rem;

        margin: 1rem;

        .weather-temp {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .weather-desc {
            display: flex;
            flex-direction: column;

            justify-content: center;

            p {
                text-align: center;
            }
        }

        .weather-additional {
            i {
                margin-right: 1rem;
            }
        }


    }

    #forecast {
        width: 95%;
        margin-inline: auto;
        height: 100%;
        overflow: hidden;

        .forecast-day {
            width: 100%;
            border-block: 1px solid white;

            &>div {
                display: flex;
                justify-content: space-evenly;
                width: 100%;

                margin-block: 2rem;


                .forecast-hourly {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;

                    img {
                        $size: 3rem;
                        width: $size;
                        height: $size;
                    }

                    @media only screen and (min-width: $mobile) {
                        img {
                            $size: 6rem;
                            width: $size;
                            height: $size;
                        }
                    }

                    @media only screen and (min-width: $desktop) {
                        img {
                            $size: 8rem;
                            width: $size;
                            height: $size;
                        }
                    }

                    .data {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 2rem;

                        .extra {
                            display: flex;
                        }
                    }

                    .time {
                        width: fit-content;
                        height: fit-content;
                    }
                }
            }



        }
    }
}

.collapse {
    height: 0 !important;
}

.hr {
    width: 90%;
    height: 2px;
    background-color: rgb(255, 255, 255, .5);
    margin-inline: auto;
    margin-block: 1rem;
}

.mt-5 {
    margin-top: 5rem;
}