---
import { WeatherWidget } from "../components/Widgets/Weather/Weather";
import Page from "../layouts/Page.astro";
---

<Page>
    <main>
        <div class="widgets">
            <WeatherWidget client:visible />
        </div>
        <div class="links"></div>
    </main>

    <style lang="scss">
        @import "../styles/break.scss";

        main {
            // border: 2px solid white;
            box-shadow: 0 0 8px -1px black;
            width: 85%;
            height: 85%;

            border-radius: 2rem;
            padding: 1rem;
        }

        @media (prefers-color-scheme: dark) {
            // Sky gradients https://codepen.io/billyysea/pen/nLroLY
            main {
                background: rgb(0, 0, 0, 0.3);
            }
        }

        @media (prefers-color-scheme: light) {
            // Sky gradients https://codepen.io/billyysea/pen/nLroLY
            main {
                background: rgb(0, 0, 0, 0.6);
            }
        }
    </style>
</Page>
