---
import LinkSection from "../components/LinkSection.astro";
import { WeatherWidget } from "../components/Widgets/Weather/Weather";
import Page from "../layouts/Page.astro";

import { sections } from "../data/links.json";
---

<Page>
    <main>
        <div>
            <div class="widgets">
                <WeatherWidget client:visible />
            </div>
            {
                sections.map((linkSection) => {
                    return (
                        <LinkSection
                            title={linkSection.name}
                            links={linkSection.links}
                        />
                    );
                })
            }
        </div>
    </main>

    <style lang="scss">
        @import "../styles/break.scss";

        main {
            // border: 2px solid white;
            box-shadow: 0 0 8px -1px black;
            width: 85%;
            height: fit-content;

            border-radius: 2rem;

            & > div {
                margin: 1rem;
            }
        }

        @media (prefers-color-scheme: dark) {
            // Sky gradients https://codepen.io/billyysea/pen/nLroLY
            main {
                background: rgb(0, 0, 0, 0.3);
            }
        }

        @media (prefers-color-scheme: light) {
            // Sky gradients https://codepen.io/billyysea/pen/nLroLY
            main {
                background: rgb(0, 0, 0, 0.6);
            }
        }
    </style>
</Page>
