---
import LinkSection from "../components/LinkSection.astro";
import { WeatherWidget } from "../components/Widgets/Weather/Weather";
import Page from "../layouts/Page.astro";

import Links from "../data/links.json";
---

<Page>
    <div class="background"></div>
    <main>
        <div>
            {
                Object.entries(Links).map((linkSection) => {
                    return (
                        <LinkSection
                            title={linkSection[0]}
                            links={linkSection[1]}
                        />
                    );
                })
            }
            <div class="widgets">
                <WeatherWidget client:visible />
            </div>
        </div>
    </main>

    <style lang="scss">
        @import "../styles/break.scss";
        main {
            // border: 2px solid white;
            box-shadow: 0 0 8px -1px black;
            width: 85%;
            height: fit-content;
            margin-block: 5rem;
            border-radius: 2rem;

            & > div {
                margin: 1rem;
            }
        }

        .background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: -1;
        }

        @media (prefers-color-scheme: dark) {
            // Sky gradients https://codepen.io/billyysea/pen/nLroLY
            main {
                background: rgb(0, 0, 0, 0.3);
            }
        }

        @media (prefers-color-scheme: light) {
            // Sky gradients https://codepen.io/billyysea/pen/nLroLY
            main {
                background: rgb(0, 0, 0, 0.6);
            }
        }

        @mixin background-light {
            background: rgb(208, 15, 184);
            background: -moz-linear-gradient(
                62deg,
                rgba(208, 15, 184, 1) 0%,
                rgba(255, 68, 7, 1) 57%,
                rgba(255, 158, 0, 1) 89%
            );
            background: -webkit-linear-gradient(
                62deg,
                rgba(208, 15, 184, 1) 0%,
                rgba(255, 68, 7, 1) 57%,
                rgba(255, 158, 0, 1) 89%
            );
            background: linear-gradient(
                62deg,
                rgba(208, 15, 184, 1) 0%,
                rgba(255, 68, 7, 1) 57%,
                rgba(255, 158, 0, 1) 89%
            );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d00fb8", endColorstr="#ff9e00", GradientType=1);
        }

        @mixin background-dark {
            background: rgb(8, 32, 50);
            background: -moz-linear-gradient(
                62deg,
                rgba(8, 32, 50, 1) 21%,
                rgba(44, 57, 75, 1) 60%,
                rgba(51, 71, 86, 1) 100%
            );
            background: -webkit-linear-gradient(
                62deg,
                rgba(8, 32, 50, 1) 21%,
                rgba(44, 57, 75, 1) 60%,
                rgba(51, 71, 86, 1) 100%
            );
            background: linear-gradient(
                62deg,
                rgba(8, 32, 50, 1) 21%,
                rgba(44, 57, 75, 1) 60%,
                rgba(51, 71, 86, 1) 100%
            );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#082032",endColorstr="#334756",GradientType=1);
        }

        @media (prefers-color-scheme: dark) {
            // Sky gradients https://codepen.io/billyysea/pen/nLroLY

            .background {
                @include background-dark;
            }
        }

        @media (prefers-color-scheme: light) {
            .background {
                @include background-light;
            }
        }
    </style>
</Page>
