---
import "../styles/global.scss";
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<!-- <link rel="icon" type="image/x-icon" href="/Zachary-Boehm/favicon.ico" /> -->
<link rel="shortcut icon" href="/Landing/favicon.ico" type="image/x-icon" />

<!-- Primary Meta Tags -->
<title>Home</title>
<meta name="title" content={"Home"} />
<meta name="description" content={"Personal Landing Page"} />

<script src="https://kit.fontawesome.com/b0d9e9f367.js" crossorigin="anonymous"
></script>
